/SkillEditor/SkillEditor.sln
/SkillEditor/.vs
/SkillEditor/Library
/SkillEditor/Logs
/SkillEditor/obj
/SkillEditor/Temp
/SkillEditor/UserSettings
/SkillEditor/.vsconfig
/SkillEditor/Assembly-CSharp.csproj
/SkillEditor/Assembly-CSharp-Editor.csproj
